* {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    color: inherit;
    cursor: default;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
}

html, body {
    height: 100%;
    background: #000;
    overflow: hidden;
    color: #fff;
    font: bold 14px/24px FreeMono, monospace;
}
