.PausePanel {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.PausePanel-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 400px;
    height: 272px;
    margin: auto;
    padding: 32px;
}

.PausePanel-resume,
.PausePanel-restart,
.PausePanel-quit {
    line-height: 48px;
    font-size: 24px;
    right: 0;
    left: 0;
    border-radius: 12px;
}
.PausePanel-restart,
.PausePanel-quit {
    margin-top: 32px;
}
