.Board {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.1s linear, opacity 0.1s linear;
}
.Board.visible {
    opacity: 1;
    transform: scale(1);
}

.Board-numbers {
    position: absolute;
    right: 4px;
    bottom: 4px;
}

.Board-pause {
    position: absolute;
    top: 8px;
    border-radius: 12px;
    height: 48px;
    line-height: 48px;
    width: 100px;
    font-size: 24px;
}

@media (orientation: portrait) {
    .Board-numbers {
        top: 60px;
        left: 4px;
    }
    .Board-pause {
        right: 8px;
    }
}
@media (orientation: landscape) {
    .Board-numbers {
        top: 4px;
        left: 60px;
    }
    .Board-pause {
        top: 34px;
        left: -18px;
        transform: rotate(-90deg);
    }
}
