.Card {
    position: absolute;
    border: 4px solid #000;
    perspective: 400px;
    transform: scaleY(-1);
}
.Card.animating {
    z-index: 1;
}

.Card-content {
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 12px;
    transition: transform 0.1s linear;
}
.Card-content.halfOpen {
    transform: rotateX(90deg);
}
.Card-content.open {
    background: #590;
    transform: rotateX(180deg);
}
.Card-content.sideVisible {
    background: #590;
}
.Card-content.sideVisible.active {
    background: #456d0d;
}
.Card-content.hidden {
    transform: rotateX(180deg) scale(0.8);
    opacity: 0;
    transition: transform 0.3s linear, opacity 0.3s linear;
}
.Card-content.guessed {
    background: #a70;
}

.Card-side {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    border-radius: 8px;
    font-size: 12px;
}
.sideVisible > .Card-side {
    display: block;
}

.Card-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.Card-number {
    display: inline-block;
    vertical-align: middle;
}

@media (min-height: 300px) {
    .Card-side { font-size: 20px }
}
@media (min-height: 500px) {
    .Card-side { font-size: 28px }
}
@media (min-height: 700px) {
    .Card-side { font-size: 36px }
}
@media (min-height: 900px) {
    .Card-side { font-size: 44px }
}
