.DifficultyButton {
    height: 48px;
    line-height: 48px;
    font-size: 24px;
    position: relative;
}
.DifficultyButton.selected {
    background: #590;
}

.DifficultyButton.easy {
    border-radius: 12px 12px 0 0;
}
.DifficultyButton.hard {
    border-radius: 0 0 12px 12px;
}

.DifficultyButton-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    left: 12px;
}
.DifficultyButton-icon.medium {
    background-position: -24px 0;
}
.DifficultyButton-icon.hard {
    background-position: -48px 0;
}
.active > .DifficultyButton-icon {
    opacity: 0.4;
}

.DifficultyButton-selected {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    right: 12px;
    display: none;
}
.selected > .DifficultyButton-selected {
    display: block;
}
