.DonePanel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.DonePanel-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 32px;
    max-width: 400px;
    height: 296px;
    margin: auto;
}

.DonePanel-title {
    font-size: 24px;
    line-height: 32px;
}

.DonePanel-time {
    margin-top: 24px;
}
.DonePanel-time,
.DonePanel-steps,
.DonePanel-yourScore,
.DonePanel-highScore {
    color: #ccc;
}

.DonePanel-newRecord {
    color: #590;
}

.DonePanel-ok {
    margin-top: 32px;
    line-height: 48px;
    font-size: 24px;
    right: 0;
    left: 0;
    border-radius: 12px;
}
