.Board-numbers.easy > * {
    width: 25%;
    height: 20%;
}

.Board-numbers.easy > .x0 { left: 0 }
.Board-numbers.easy > .x1 { left: 25% }
.Board-numbers.easy > .x2 { left: 50% }
.Board-numbers.easy > .x3 { left: 75% }

.Board-numbers.easy > .y0 { top: 0 }
.Board-numbers.easy > .y1 { top: 20% }
.Board-numbers.easy > .y2 { top: 40% }
.Board-numbers.easy > .y3 { top: 60% }
.Board-numbers.easy > .y4 { top: 80% }
