.LoadPanel {
    position: absolute;
    right: 8px;
    bottom: 8px;
    left: 8px;
    height: 4px;
    border-radius: 2px;
    transition: opacity 0.3s linear;
    opacity: 1;
}
.LoadPanel.hidden {
    opacity: 0;
}

.LoadPanel-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #590;
    width: 0;
    border-radius: 2px;
    transition: width 0.1s linear;
}
