.Menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.Menu-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 400px;
    margin: auto;
    height: 392px;
    padding: 32px;
}

.Menu-title {
    font-size: 24px;
    line-height: 32px;
}

.Menu-difficulty {
    color: #ccc;
    margin-top: 24px;
}

.Menu-highScore {
    color: #ccc;
    line-height: 24px;
}

.Menu-startButton {
    border-radius: 12px;
    font-size: 24px;
    line-height: 48px;
    height: 48px;
    margin-top: 32px;
}
