.Time {
    position: absolute;
    line-height: 48px;
    font-size: 14px;
    background: no-repeat 0 50%;
    padding-left: 32px;
    width: 100px;
    text-align: left;
}

@media (orientation: portrait) {
    .Time {
        top: 8px;
        left: 16px;
    }
}
@media (orientation: landscape) {
    .Time {
        left: -18px;
        bottom: 42px;
        transform: rotate(-90deg);
    }
}
